*{
    margin: 0;
    padding: 0;
}

.list-download{
    margin: 0 auto;
    width: 600px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
}
.list-download h1{
    font-size: 45px;
    color: red;
}

.form-group form button {
    width: 150px;
    height: 40px;
}
.form-group form input{
    padding-left: 10px;
    width:350px;
    height:40px;
}
.form-group{
    margin-top :20px;
}